body
{
    background-color: rgba(5, 66, 128, 0.9);
    
}
#titreA
{
    text-align: center;
    padding-top: 10%;
}
#divA
{
    padding-top: 2%;
    text-align: center;
}
#mdpA
{
    padding-left: 1.4%;
    
}
#titreaccueil
{
    text-align: center;
    padding-top:5%;
}

.logo img
{
        width: 70%;
	margin: 30px;
	margin-top: 55px;
}


